<h1>Welcome to Project YMCA</h1>
<p>This is the place to connect with others to find sponsorship for fitness programs.
This is a proof of concept, full website is currently under development. Yeehaw!!</p>
