<h1>HELLO WORLD! Welcome to Project YMCA</h1>
<p>This is the place to connect with others to find sponsorship for fitness programs.
This is a proof of concept, full website is <b>once again</b> under development, and Yeehaw!!</p>
